<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie CRUD</title>
    <style>
        *{
            background-color: rgb(132, 103, 103);
        }
    </style>
   
</head>
<body>
    <div align="center" id="main">
        <h1>MOVIE DATABASE</h1>
        <a href="/insert"><button>Insert Record</button></a>
        <a href="/fetch"><button>Fetch Records</button></a>
    </div>

    <script th:inline="javascript" th:if="${message}">
        alert([[${message}]])
    </script>
</body>
</html>